@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

/****Global****/
body {
    background-color: #000000;
    background-image: linear-gradient(160deg, #000000 0%, #353535 100%);
    background-repeat: no-repeat;
    background-size: cover;

}

a {
    text-decoration: none;
    color: hsl(0, 0%, 55%);
}

.contenedor {
    max-width: 120rem;
    margin-inline: 2rem;
    padding-inline: 0;
}

/*****Header******/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 15px black;
}

.logo {
    width: 330px;
    filter: drop-shadow(0px 0px 3px white);

}

.nav {
    width: 100%;
    display: flex;
}

.nav_link {
    color: hsl(0, 0%, 55%);
    margin: 0 1.3rem;
    font-size: 1.1rem;
}

.nav_link:hover {
    transition: 0.3s;
    color: white;
}

li {
    list-style: none;
}

/*********MediaQ header*********/
@media (max-width: 768px) {
    .header {
        flex-direction: column;
    }
    .nav {
        margin-bottom: 2rem;
    }
    .logo {
        width: 250px;
        margin: 3rem;
    }

}



/******Main*******/
.main {
    border-radius: 10px;
    box-shadow: 0px 0px 15px hsla(0, 0%, 0%, 0.705);
}

.main_titulo {
    color: #000;
}

.titulo_historia {
    width: 100%;
    background-color: hsl(0, 0%, 47%);
    font-size: 2.5rem;
    text-align: center;
    padding-top: 3rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.seccion_historia {
    height: 400px;
    background-color: hsl(0, 0%, 47%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.video_historia {
    box-shadow: 0px 0px 15px black;
    border-radius: 10px;
    width: 420px;
    height: 250px;

}

.historia_descripcion {
    width: 300px;
}

/***mediaQ historia**/
@media (max-width: 768px) {

    .seccion_historia {
        flex-direction: column;
        row-gap: 1rem;
    }

    .titulo_historia {
        padding: 2rem 0;
        font-size: 2rem;
    }

    .historia_descripcion {
        padding-bottom: 1rem;
        text-align: center;
    }
    .video_historia{
        width: 380px;
        height: 200px;
    }
}

/****secciones********/

.titulo {
    margin-top: 6rem;
    text-align: center;
    font-size: 2.5rem;
    color: hsl(0, 0%, 55%);
}

.seccion {
    color: hsl(0, 0%, 47%);
    height: 30rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.seccion_foto {
    width: 200px;
    height: 200px;
    filter: drop-shadow(0px 0px 10px white);
}

.cs2 {
    border-radius: 30px;
}

.contenido {
    width: 300px;
    text-align: center;
}

.seccion_titulo {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-shadow: 0px 0px 15px rgb(0, 0, 0);
}

/*****MediaQ Versiones*****/
@media (max-width: 768px) {
    .seccion {
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .titulo {
        margin-bottom: 3rem;
        text-align: center;
        font-size: 2rem;
        color: hsl(0, 0%, 55%);
    }

    .contenido {
        font-size: .7rem;
    }

    .seccion_titulo{
        font-size: 1.4rem;
    }
}

/****boton*****/
button {
    position: relative;
    height: 50px;
    padding: 0 30px;
    border: 3px solid #000;
    background: hsl(0, 0%, 55%);
    white-space: nowrap;
    transition: all .05s linear;
    font-family: inherit;
}

button:before,
button:after {
    content: "";
    position: absolute;
    background: hsl(0, 0%, 55%);
    transition: all .2s linear;
}

button:before {
    width: calc(100% + 6px);
    height: calc(100% - 16px);
    top: 8px;
    left: -3px;
}

button:after {
    width: calc(100% - 16px);
    height: calc(100% + 6px);
    top: -3px;
    left: 8px;
}

button:hover {
    cursor: crosshair;
}

button:active {
    transform: scale(0.95);
}

button:hover:before {
    height: calc(100% - 32px);
    top: 16px;
}

button:hover:after {
    width: calc(100% - 32px);
    left: 16px;
}

button span {
    font-size: 15px;
    z-index: 3;
    position: relative;
    font-weight: 600;
}

/*****Mapas*****/
.mapas {
    background-color: hsl(0, 0%, 47%);
    text-align: center;
    padding-bottom: 3rem;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
}

.titulo_mapas {
    text-align: center;
    font-size: 2.5rem;
    margin: 2rem;
    color: black;
}

.cartas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 3rem;
}

/*****MediaQ mapas*****/
@media (max-width: 768px) {
    .cartas {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }

    .titulo_mapas {
        text-align: center;
        font-size: 2rem;
        margin: 1rem 0;
        padding: 2rem;
        color: black;
    }
}


/*********Card******/
.card {
    overflow: visible;
    width: 200px;
    height: 200px;
}

.content {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms;
    box-shadow: 0px 0px 10px 1px #000000ee;
    border-radius: 5px;
}

.front,
.back {
    background-color: #151515;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
}

.back {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.back::before {
    position: absolute;
    content: ' ';
    display: block;
    width: 160px;
    height: 160%;
    background: linear-gradient(90deg, transparent, #ff9966, #ff9966, #ff9966, #ff9966, transparent);
    animation: rotation_481 5000ms infinite linear;
}

.back-content {
    position: absolute;
    width: 99%;
    height: 99%;
    background-color: #151515;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card:hover .content {
    transform: rotateY(180deg);
}

@keyframes rotation_481 {
    0% {
        transform: rotateZ(0deg);
    }

    0% {
        transform: rotateZ(360deg);
    }
}

.front {
    transform: rotateY(180deg);
    color: white;
}

.front .front-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 1rem;
}

.front-content .badge {
    background-color: #00000055;
    padding: 2px 10px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    width: fit-content;
}

.front {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.img_content {
    width: 200px;
}

.img_front {
    width: 100%;
    height: 100%;
    object-fit: contain;

}


/*****Footer*******/
.derechos {
    margin: 1rem 0;
    text-align: center;
}